{% extends 'base.html.twig' %}

{% block title %}Zakazi index{% endblock %}

{% block body %}
    <h1>Zakazi</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
                <th>Amount</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for zakazi in zakazis %}
            <tr>
                <td>{{ zakazi.id }}</td>
                <td>{{ zakazi.tovar }}</td>
                <td>{{ zakazi.amount }}</td>
                <td>{{ zakazi.Zakazchik }}</td>
                <td>
                    <a href="{{ path('zakazi_show', {'id': zakazi.id}) }}">show</a>
                    <a href="{{ path('zakazi_edit', {'id': zakazi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('zakazi_new') }}">Create new</a>
{% endblock %}
