{% extends 'base.html.twig' %}

{% block title %}Tovari index{% endblock %}

{% block body %}
    <h1>Tovari</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tovari in tovaris %}
            <tr>
                <td>{{ tovari.id }}</td>
                <td>{{ tovari.Name }}</td>
                <td>{{ tovari.Price }}</td>
                <td>
                    <a href="{{ path('tovari_show', {'id': tovari.id}) }}">show</a>
                    <a href="{{ path('tovari_edit', {'id': tovari.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tovari_new') }}">Create new</a>
{% endblock %}
